<mat-toolbar color="primary">
  <span>🛒 Tienda</span>
  <span style="flex: 1"></span>
  <button mat-icon-button [matBadge]="carrito.totalItems()" matBadgeColor="warn"
          [matBadgeHidden]="carrito.totalItems() === 0">
    <mat-icon>shopping_cart</mat-icon>
  </button>
</mat-toolbar>

<div class="contenedor">
  @if (!productos()) {
    <div class="cargando">
      <mat-spinner diameter="48"></mat-spinner>
    </div>
  } @else {
    <div class="grid-productos">
      @for (producto of productos(); track producto.id) {
        <app-producto-card
          [producto]="producto"
          [enCarrito]="carrito.cantidadDeProducto(producto.id)"
          (agregar)="onAgregar($event)">
        </app-producto-card>
      }
    </div>
  }

  @if (carrito.totalItems() > 0) {
    <app-carrito></app-carrito>
  }
</div>
